body{
    background-color: rgb(73, 73, 73);
}


.title{
    text-align: center;
    font-size: 85px;
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;    
}

.link{
    text-align: center;
    font-size: 30px;
    color: white;
}